<!-- IF S_DISPLAY_POINTS_STATS and S_POINTS_ENABLE and U_USE_POINTS and .rich_user -->
<h3>{L_POINTS_STATISTICS}</h3>
<p>{TOTAL_POINTS_USER} &bull; {TOTAL_BANK_USER} &bull; {TOTAL_BANK_POINTS} <br /><!-- IF S_DISPLAY_LOTTERY -->{LOTTERY_TIME} &bull; {L_PREVIOUS_WINNER}<!-- ENDIF --></p>

<!-- IF S_DISPLAY_INDEX -->
<h3>{L_POINTS_MOST_RICH_USERS}</h3>
<p><!-- BEGIN rich_user --><!-- IF not rich_user.S_FIRST_ROW --> &bull; <!-- ENDIF -->
	<div class="rich-user-avatar">
		<!-- IF rich_user.AVATAR -->{rich_user.AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" width="60px;" height="60px;" alt="" /><!-- ENDIF -->
	</div>
	{rich_user.USERNAME} ({rich_user.SUM_POINTS} {rich_user.SUM_POINTS_NAME})<!-- END rich_user --></p>
<!-- ENDIF -->
<!-- ENDIF -->