<!-- IF USE_POINTS -->
<dt>{L_POINTS_CASH_ON_HAND}{L_COLON}</dt>
<dd><!-- IF U_LOCKED --><b>{L_POINTS_LOCKED}</b><!-- ELSE -->{USER_PROF_POINTS} <!-- IF USE_IMAGES_POINTS --><img src="{BOARD_URL}ext/dmzx/ultimatepoints/styles/all/theme/images/money.png" width="11px" height="11px" alt="" /><!-- ELSE -->{P_NAME}<!-- ENDIF --> <!-- IF not S_IS_OWN_PROF and U_USE_TRANSFER --><a href="{U_POINTS_DONATE}">{L_DONATE}</a><!-- ENDIF --> <!-- IF not S_IS_OWN_PROF and U_USE_ROBBERY --><a href="{U_ROBBERY}">{L_ROBBERY}</a><!-- ENDIF --><a href="{U_POINTS_MODIFY}">{L_MOD_USER_POINTS}</a><!-- ENDIF --></dd>
<!-- IF USE_BANK -->
	<dt>{L_BANK_BALANCE}{L_COLON}</dt>
	<!-- IF USER_BANK_ACC -->
		<dd>
			<!-- IF U_BLOCKED --><b>{L_POINTS_LOCKED}</b><!-- ELSE --> {USER_BANK_POINTS} <!-- IF USE_IMAGES_POINTS --><img src="{BOARD_URL}ext/dmzx/ultimatepoints/styles/all/theme/images/money.png" width="11px" height="11px" alt="" /><!-- ELSE -->{P_NAME}<!-- ENDIF --> <a href="{U_BANK_MODIFY}">{L_MOD_USER_BANK}</a><!-- ENDIF -->
		</dd>
	<!-- ELSE -->
		<dd>{L_USER_NO_BANK_ACC}</dd>
	<!-- ENDIF -->
<!-- ENDIF -->
<!-- ENDIF -->
