<!-- INCLUDE overall_header.html -->

<h2>{L_POINTS_LIST_TOTAL}</h2>
<div class="action-bar top">
	<!-- IF .pagination or TOTAL_ULTIMATEPOINTS_LIST -->
	<div class="pagination">
		{TOTAL_ULTIMATEPOINTS_LIST}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->
</div>

<!-- IF .ultimatelist -->
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{L_USERNAME}</div></dt>
					<dd class="lastpost">{POINTSLIST}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
		<!-- BEGIN ultimatelist -->
			<li class="row <!-- IF ultimatelist.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<dl>
					<dt style="font-size: 1.2em;line-height: 2.2em;padding: 4px 0;">
						<div class="list-inner">
							<div class="rich-user-avatar"><!-- IF ultimatelist.AVATAR -->{ultimatelist.AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" width="60px;" height="60px;" alt="" /><!-- ENDIF --></div> {ultimatelist.USERNAME}
						</div>
					</dt>
					<dd class="lastpost"><span style="margin-top:5px;font-size: 1.2em;">{ultimatelist.POINT}</span></dd>
				</dl>
			</li>
			<!-- END ultimatelist -->
		</ul>
	</div>
</div>

<!-- ELSE -->

<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{L_USERNAME}</div></dt>
					<dd></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dt style="font-size: 1.2em;line-height: 2.2em;padding: 4px 0; text-align:center;">
						<div>
							{L_POINTS_LIST_NO_USER}
						</div>
					</dt>
				</dl>
			</li>
		</ul>
	</div>
</div>
<!-- ENDIF -->

<hr />
<div class="action-bar bottom">
	<!-- IF .pagination or TOTAL_ULTIMATEPOINTS_LIST -->
	<div class="pagination">
		{TOTAL_ULTIMATEPOINTS_LIST}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->
</div>

<!-- INCLUDE overall_footer.html -->
