<!-- INCLUDE overall_header.html -->

<div id="tabs" class="tabs">
	<ul>
		<li class="tab activetab"><a href="{U_POINTS}"><span>{L_POINTS_OVERVIEW}</span></a></li>
		<li class="tab"><a href="{U_INFO}"><span>{L_POINTS_INFO}</span></a></li>
		<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER --><li class="tab"><a href="{U_TRANSFER_USER}">{L_POINTS_TRANSFER}</a></li><!-- ENDIF -->
		<!-- IF LOGS_ENABLE and U_USE_LOGS --><li class="tab"><a href="{U_LOGS}">{L_POINTS_LOGS}</a></li><!-- ENDIF -->
		<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY --><li class="tab"><a href="{U_LOTTERY}">{LOTTERY_NAME}</a></li><!-- ENDIF -->
		<!-- IF BANK_ENABLE and U_USE_BANK --><li class="tab"><a href="{U_BANK}">{BANK_NAME}</a></li><!-- ENDIF -->
		<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY --><li class="tab"><a href="{U_ROBBERY}">{L_POINTS_ROBBERY}</a></li><!-- ENDIF -->
	</ul>
</div>

<div class="panel bg3">
	<div class="inner">
		<h2>{L_POINTS_OVERVIEW}</h2>
		<div class="panel points-main-main">
			<div class="inner">
				<fieldset>
					<br /><p>{L_MAIN_HELLO_USERNAME}</p><!-- IF not U_USE_POINTS --><br /><span style="color: red;"><b>{L_MAIN_USERNAME_LOCKED}</b></span><!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN -->
						<p>{L_MAIN_ON_HAND}</p>
						<p><!-- BEGIN has_bank_account -->{has_bank_account.L_MAIN_BANK_HAVE}<!-- END has_bank_account --><p>
						<p>{L_MAIN_LOTTERY_TICKETS}</p>
					<!-- ENDIF -->
					<br /><br />
				</fieldset>
			</div>
		</div>
		<div class="panel bg1 points-main-lists">
			<div class="inner">
				<h3>{L_MAIN_LOTTERIES_WON}</h3>
				<!-- BEGIN lotteries_won -->
					<span class="column1">{lotteries_won.USER}</span>
					<span class="column2">{lotteries_won.TOTAL_WON}{L_COLON} {lotteries_won.TOTAL_PRIZE}</span>
					<br style="clear: both" />
				<!-- BEGINELSE -->
					{L_MAIN_LOTTERIES_NONE}
				<!-- END lotteries_won -->
			</div>
		</div>
		<div class="panel bg1 points-main-lists">
			<div class="inner">
				<h3>{L_MAIN_MOST_DONATED}</h3>
				<!-- BEGIN most_donated -->
					<span class="column1">{most_donated.USER}</span>
					<span class="column2">{most_donated.DONATED}</span>
					<br style="clear: both" />
				<!-- BEGINELSE -->
					{L_MAIN_MOST_DONATED_NONE}
				<!-- END most_donated -->
			</div>
		</div>
		<div class="panel bg1 points-main-lists">
			<div class="inner">
				<h3>{L_MAIN_RICH_BANK}</h3>
				<!-- BEGIN richest_banker -->
					<span class="column1">{richest_banker.USER}</span>
					<span class="column2">{richest_banker.HOLDING}</span>
					<br style="clear: both" />
				<!-- BEGINELSE -->
					{L_MAIN_RICH_BANK_NONE}
				<!-- END richest_banker -->
			</div>
		</div>
		<div class="panel bg1 points-main-lists">
			<div class="inner">
				<h3>{L_POINTS_MOST_RICH_USERS}</h3>
					<!-- IF S_DISPLAY_INDEX -->
						<!-- BEGIN points -->
							<span class="column1">{points.USERNAME}</span>
							<span class="column2">{points.POINT}</span>
							<br style="clear: both" />
						<!-- END points -->
					<!-- ELSE -->
							<span>{L_POINTS_MOST_RICH_USERS_DISABLED}</span>
					<!-- ENDIF -->
			</div>
		</div>
	</div>
</div>

<br /><div style="text-align: center;" class="copyright">{L_POINTS_COPYRIGHT}{POINT_VERS}<br />{L_POINTS_COPYRIGHTS}</div>

<!-- INCLUDE overall_footer.html -->
