<!-- INCLUDE overall_header.html -->

<div id="tabs" class="tabs">
	<ul>
		<li class="tab"><a href="{U_POINTS}">{L_POINTS_OVERVIEW}</a></li>
		<li class="tab activetab"><a href="{U_INFO}">{L_POINTS_INFO}</a></li>
		<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER --><li class="tab"><a href="{U_TRANSFER_USER}">{L_POINTS_TRANSFER}</a></li><!-- ENDIF -->
		<!-- IF LOGS_ENABLE and U_USE_LOGS --><li class="tab"><a href="{U_LOGS}">{L_POINTS_LOGS}</a></li><!-- ENDIF -->
		<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY --><li class="tab"><a href="{U_LOTTERY}">{LOTTERY_NAME}</a></li><!-- ENDIF -->
		<!-- IF BANK_ENABLE and U_USE_BANK --><li class="tab"><a href="{U_BANK}">{BANK_NAME}</a></li><!-- ENDIF -->
		<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY --><li class="tab"><a href="{U_ROBBERY}">{L_POINTS_ROBBERY}</a></li><!-- ENDIF -->
	</ul>
</div>

<div class="panel bg3 points-info">
	<div class="inner">
		<div id="cp-menu">
			<div class="cp-mini">
				<div class="inner">
					<dl class="mini">
						<dd><h3>{L_POINTS_DESCRIPTION}</h3></dd>
						<dd>{POINTS_INFO_DESCRIPTION}</dd>
					</dl>
				</div>
			</div>
		</div>

		<div id="cp-main" class="ucp-main">
			<h2>{L_INFO_GENERAL_INFORMATIONS}</h2>
			<div class="panel">
				<div class="inner">
					<!-- IF S_USER_LOGGED_IN -->
						<p>{L_POINTS_CASH_ON_HAND}{L_COLON}&nbsp;{USER_POINTS} {POINTS_NAME}</p>
					<!-- ENDIF -->
					<fieldset>
						<h3>{L_POINTS_INFO}</h3>
						<dl>
							<dt>{L_INFO_ATTACH}{L_COLON}</dt>
							<dd>{INFO_ATTACH}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_ADD_ATTACH}{L_COLON}</dt>
							<dd>{INFO_ADD_ATTACH}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_POLL}{L_COLON}</dt>
							<dd>{INFO_POLL}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_POLL_OPTION}{L_COLON}</dt>
							<dd>{INFO_POLL_OPTION}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_TOPIC_WORD}{L_COLON}</dt>
							<dd>{INFO_TOPIC_WORD}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_TOPIC_CHARACTER}{L_COLON}</dt>
							<dd>{INFO_TOPIC_CHARACTER}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_POST_WORD}{L_COLON}</dt>
							<dd>{INFO_POST_WORD}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_POST_CHARACTER}{L_COLON}</dt>
							<dd>{INFO_POST_CHARACTER}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_COST_WARNING}{L_COLON}</dt>
							<dd>{INFO_COST_WARNING}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_REG_BONUS}{L_COLON}</dt>
							<dd>{INFO_REG_BONUS}</dd>
						</dl>
						<dl>
							<dt>{L_INFO_BONUS_CHANCE}{L_COLON}</dt>
							<dd>{INFO_POINTS_BONUS}</dd>
						</dl>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>

<br /><div style="text-align: center;" class="copyright">{L_POINTS_COPYRIGHT}{POINT_VERS}<br />{L_POINTS_COPYRIGHTS}</div>

<!-- INCLUDE overall_footer.html -->
