<!-- INCLUDE overall_header.html -->

<!-- BEGIN administer_bank -->
	<br style="clear:both" />
	<form action="{S_ACTION}" method="post">
		<div class="panel bg1">
			<div class="inner">
				<div class="column1">
					<h3>{L_EDIT_BANK_MODIFY}</h3>
					<p>{L_P_BANK_TITLE}</p>
					<dl class="details">
						<dt>{L_USERNAME}{L_COLON}</dt> <dd>{USER_NAME}</dd>
						<dt>{L_BANK_BALANCE}{L_COLON}</dt> <dd>{BANK_POINTS} {POINTS_NAME}</dd>
					</dl>
				</div>
				<div class="column2">
					<h3>&nbsp;</h3>
					<p>&nbsp;</p>
					<dl class="details">
						<dt>{L_SET_AMOUNT}{L_COLON}</dt>
						<dd><input type="text" tabindex="1" class="inputbox autowidth" maxlength="10" name="points" size="20" title="{L_POINTS_NUMBER_FORMAT_EXPLAIN}" value="{CURRENT_VALUE}" /></dd>
					</dl>
				</div>
			</div>
		</div>

		<div class="panel bg2">
			<div class="inner">
				<fieldset class="submit-buttons">
					{S_HIDDEN_FIELDS}
					<input type="submit" tabindex="2" accesskey="s" name="submit" value="{L_SUBMIT}" class="button1" />
					{S_FORM_TOKEN}
				</fieldset>
			</div>
		</div>
	</form>

	<br style="clear:both" />
<!-- END administer_bank -->

<!-- INCLUDE overall_footer.html -->