<!-- INCLUDE overall_header.html -->

<div id="tabs" class="tabs">
	<ul>
		<li class="tab"><a href="{U_POINTS}">{L_POINTS_OVERVIEW}</a></li>
		<li class="tab"><a href="{U_INFO}">{L_POINTS_INFO}</a></li>
		<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER --><li class="tab"><a href="{U_TRANSFER_USER}">{L_POINTS_TRANSFER}</a></li><!-- ENDIF -->
		<!-- IF LOGS_ENABLE and U_USE_LOGS --><li class="tab activetab"><a href="{U_LOGS}">{L_POINTS_LOGS}</a></li><!-- ENDIF -->
		<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY --><li class="tab"><a href="{U_LOTTERY}">{LOTTERY_NAME}</a></li><!-- ENDIF -->
		<!-- IF BANK_ENABLE and U_USE_BANK --><li class="tab"><a href="{U_BANK}">{BANK_NAME}</a></li><!-- ENDIF -->
		<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY --><li class="tab"><a href="{U_ROBBERY}">{L_POINTS_ROBBERY}</a></li><!-- ENDIF -->
	</ul>
</div>

<div class="panel bg3">
	<div class="inner">
		<div id="cp-menu">
			<div class="cp-mini">
				<div class="inner">
					<dl class="mini">
						<dd><h3>{L_POINTS_DESCRIPTION}</h3></dd>
						<dd>{L_LOGS_DESCRIPTION}</dd>
					</dl>
				</div>
			</div>
		</div>

		<div id="cp-main" class="ucp-main">
			<h2>{L_POINTS_LOGS}</h2>
			<div class="panel">
				<div class="inner">
					<table class="table1">
						<thead class="logs_head">
							<tr>
								<th>{L_LOGS_DATE}</th>
								<th>{L_LOGS_TYPE}</th>
								<th>{L_LOGS_WHO}</th>
								<th>{L_LOGS_TO}</th>
								<th>{L_LOGS_COMMENT}</th>
							</tr>
						</thead>
						<tbody>
							<!-- BEGIN logs -->
								<tr class="bg<!-- IF log.S_ROW_COUNT is even -->1<!-- ELSE -->2<!-- ENDIF -->">
									<td style="text-align:center;">{logs.DATE}</td>
									<td style="text-align:center;">{logs.TYPE}</td>
									<td style="text-align:center;">{logs.WHO}</td>
									<td style="text-align:center;">{logs.TO}</td>
									<td style="text-align:center;">{logs.COMMENT}</td>
								</tr>
							<!-- BEGINELSE -->
								<tr>
									<td class="bg1" colspan="<!-- IF S_CLEAR_ALLOWED -->6<!-- ELSE -->5<!-- ENDIF -->" align="center"><span class="gen">{L_LOGS_REASON_NOLOGS}</span></td>
								</tr>
							<!-- END logs -->
						</tbody>
					</table>
					<form action="{S_LOGS_ACTION}" method="post">
						<fieldset class="display-options">
							<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
							<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
						</fieldset>
					</form>

				<div class="action-bar bottom">
					<!-- IF .pagination or PAGINATION -->
						<div class="pagination">
							{L_POINTS_LOG_TOTAL}{L_COLON} {PAGINATION}
							<!-- IF .pagination -->
								<!-- INCLUDE pagination.html -->
							<!-- ELSE -->
								&bull; {PAGE_NUMBER}
							<!-- ENDIF -->
						</div>
					<!-- ENDIF -->
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br /><div style="text-align: center;" class="copyright">{L_POINTS_COPYRIGHT}{POINT_VERS}<br />{L_POINTS_COPYRIGHTS}</div>

<!-- INCLUDE overall_footer.html -->
