<!-- INCLUDE overall_header.html -->

<div id="tabs" class="tabs">
	<ul>
		<li class="tab"><a href="{U_POINTS}">{L_POINTS_OVERVIEW}</a></li>
		<li class="tab"><a href="{U_INFO}">{L_POINTS_INFO}</a></li>
		<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER --><li class="tab activetab"><a href="{U_TRANSFER_USER}">{L_POINTS_TRANSFER}</a></li><!-- ENDIF -->
		<!-- IF LOGS_ENABLE and U_USE_LOGS --><li class="tab"><a href="{U_LOGS}">{L_POINTS_LOGS}</a></li><!-- ENDIF -->
		<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY --><li class="tab"><a href="{U_LOTTERY}">{LOTTERY_NAME}</a></li><!-- ENDIF -->
		<!-- IF BANK_ENABLE and U_USE_BANK --><li class="tab"><a href="{U_BANK}">{BANK_NAME}</a></li><!-- ENDIF -->
		<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY --><li class="tab"><a href="{U_ROBBERY}">{L_POINTS_ROBBERY}</a></li><!-- ENDIF -->
	</ul>
</div>

<div class="panel bg3">
	<div class="inner">
		<div id="cp-menu">
			<div class="cp-mini">
				<div class="inner">
					<dl class="mini">
						<dd><h3>{L_POINTS_DESCRIPTION}</h3></dd>
						<dd>{L_TRANSFER_DESCRIPTION}</dd>
					</dl>
				</div>
			</div>
		</div>

		<form id="post" action="{U_ACTION}" method="post">
			<div id="cp-main" class="ucp-main">
				<h2>{L_POINTS_TRANSFER}</h2>
				<div class="panel">
					<div class="inner">
						<!-- IF S_USER_LOGGED_IN -->
							<p>{L_POINTS_CASH_ON_HAND}{L_COLON}&nbsp;{USER_POINTS} {POINTS_NAME}</p><br />
							<fieldset>
								<dl>
									<dt><label for="username">{L_TRANSFER_SET_USERNAME}</label></dt>
									<dd><input type="text" tabindex="1" id="username" class="inputbox" name="username" value=""/></dd>
									<dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd>
								</dl>
								<dl>
									<dt><label>{L_TRANSFER_AMOUNT}{L_COLON}</label></dt>
									<dd><input type="text" maxlength="10" tabindex="2" class="inputbox autowidth" title="{L_POINTS_NUMBER_FORMAT_EXPLAIN}" name="amount" value="" /> {POINTS_NAME}</dd>
								</dl>
								<dl>
									<dt><label>{L_TRANSFER_FEE}{L_COLON}</label><br /><em>{L_TRANSFER_FEE_EXPLAIN}</em></dt>
									<dd>{TRANSFER_FEE} %</dd>
								</dl>
								<!-- IF POINTS_COMMENTS and S_ALLOW_SEND_PM -->
									<dl>
										<dt><label for="comment">{L_TRANSFER_COMMENT}{L_COLON}</label></dt>
										<dd><textarea id="comment" tabindex="3" class="inputbox" name="comment" cols="50" rows="3" >{COMMENT}</textarea></dd>
									</dl>
								<!-- ENDIF -->
							</fieldset>
							<fieldset class="submit-buttons">
								{S_HIDDEN_FIELDS}
								<input type="submit" tabindex="4" name="submit" value="{L_SUBMIT}" class="button1" />
								{S_FORM_TOKEN}
							</fieldset>
						<!-- ELSE -->
							<p>{L_POINTS_BOT_GUEST}</p>
						<!-- ENDIF -->
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<br /><div style="text-align: center;" class="copyright">{L_POINTS_COPYRIGHT}{POINT_VERS}<br />{L_POINTS_COPYRIGHTS}</div>

<!-- INCLUDE overall_footer.html -->