<!-- INCLUDE ucp_header.html -->

<!-- IF S_LOTTERY_INFO -->

<h2>{LOTTERY_NAME}</h2>

<div class="panel">
	<div class="inner">
		<p>{L_UCP_ULTIMATEPOINTS_EXPLAIN}</p>

		<div class="notification_list">
			<!-- IF .ucp_ultimatepoints_lottery and S_LOTTERY_ENABLE -->
			<ul class="topiclist">
					<li class="header">
						<dl>
							<dt><div class="list-inner">{L_LOTTERY_VIEW_SELF_HISTORY}</div></dt>
							<dd class="extra">{L_LOTTERY_WINNINGS}</dd>
							<dd class="time"><span style="float:right;">{L_LOTTERY_DATE}</span></dd>
						</dl>
					</li>
				</ul>
			<ul class="topiclist cplist responsive-show-columns">
				<!-- BEGIN ucp_ultimatepoints_lottery -->
				<li class="row<!-- IF ucp_ultimatepoints_lottery.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<dl>
						<dt>
							<div class="list-inner">
								<div class="notifications">
									<p class="notifications_title">{L_LOTTERY_TITLE_MAIN}</p>
									<p class="notifications_time">{L_LOTTERY_WON}{L_COLON} {ucp_ultimatepoints_lottery.LOTTERY_USERNAME}</p>
								</div>
							</div>
						</dt>
						<dd class="extra">{ucp_ultimatepoints_lottery.LOTTERY_AMOUNT}</dd>
						<dd class="time" ><span style="float:right;">{ucp_ultimatepoints_lottery.LOTTERY_TIME}</span></dd>
					</dl>
				</li>
				<!-- END ucp_ultimatepoints_lottery -->
			</ul>
			<!-- ELSE -->
				<!-- IF S_LOTTERY_ENABLE -->{L_NO_MESSAGES}<!-- ELSE -->{L_LOTTERY_DISABLED}<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	</div>
</div>

<!-- ENDIF -->

<!-- IF S_BANK_INFO -->

<h2>{BANK_NAME}</h2>

<div class="panel">
	<div class="inner">
		<p>{L_UCP_ULTIMATEPOINTS_EXPLAIN}</p>

		<div class="notification_list">
			<!-- IF .ucp_ultimatepoints_bank and S_BANK_ENABLE -->
			<ul class="topiclist">
					<li class="header">
						<dl>
							<dt><div class="list-inner">{L_BANK_TO_ACCOUNT}</div></dt>
							<dd class="extra">{L_BANK_BALANCE}</dd>
							<dd class="time"><span style="float:right;">{L_BANK_ACCOUNT_OPENED}</span></dd>
						</dl>
					</li>
				</ul>
			<ul class="topiclist cplist responsive-show-columns">
				<!-- BEGIN ucp_ultimatepoints_bank -->
				<li class="row<!-- IF ucp_ultimatepoints_bank.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<dl>
						<dt>
							<div class="list-inner">
								<div class="notifications">
									<p class="notifications_time">{ucp_ultimatepoints_bank.BANK_USERNAME}</p>
								</div>
							</div>
						</dt>
						<dd class="extra">{ucp_ultimatepoints_bank.BANK_AMOUNT}</dd>
						<dd class="time" ><span style="float:right;">{ucp_ultimatepoints_bank.BANK_TIME}</span></dd>
					</dl>
				</li>
				<!-- END ucp_ultimatepoints_bank -->
			</ul>
			<!-- ELSE -->
				<!-- IF S_BANK_ENABLE -->{L_NO_MESSAGES}<!-- ELSE -->{L_BANK_DISABLED}<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	</div>
</div>

<!-- ENDIF -->

<!-- IF S_ROBBERY_INFO -->

<h2>{L_POINTS_ROBBERY}</h2>

<div class="panel">
	<div class="inner">
		<p>{L_UCP_ULTIMATEPOINTS_EXPLAIN}</p>

		<div class="notification_list">
			<!-- IF .ucp_ultimatepoints_robbery and S_ROBBERY_ENABLE -->
			<ul class="topiclist">
					<li class="header">
						<dl>
							<dt><div class="list-inner">{L_ROBBERY_SET_USERNAMES}</div></dt>
							<dd class="extra">{L_ROBBERY_AMOUNT}</dd>
							<dd class="time"><span style="float:right;">{L_ROBBERY_DATE}</span></dd>
						</dl>
					</li>
				</ul>
			<ul class="topiclist cplist responsive-show-columns">
				<!-- BEGIN ucp_ultimatepoints_robbery -->
				<li class="row<!-- IF ucp_ultimatepoints_robbery.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<dl>
						<dt>
							<div class="list-inner">
								<div class="notifications">
									<p class="notifications_time">{ucp_ultimatepoints_robbery.ROBBERY_USERNAME}</p>
								</div>
							</div>
						</dt>
						<dd class="extra">{ucp_ultimatepoints_robbery.ROBBERY_AMOUNT}</dd>
						<dd class="time" ><span style="float:right;">{ucp_ultimatepoints_robbery.ROBBERY_TIME}</span></dd>
					</dl>
				</li>
				<!-- END ucp_ultimatepoints_robbery -->
			</ul>
			<!-- ELSE -->
				<!-- IF S_ROBBERY_ENABLE -->{L_NO_MESSAGES}<!-- ELSE -->{L_ROBBERY_DISABLED}<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	</div>
</div>

<!-- ENDIF -->

<!-- IF S_TRANSFER_INFO -->

<h2>{L_TRANSFER_RECEIVED}</h2>

<div class="panel">
	<div class="inner">
		<p>{L_UCP_ULTIMATEPOINTS_EXPLAIN}</p>

		<div class="notification_list">
			<!-- IF .ucp_ultimatepoints_transfer and S_TRANSFER_ENABLE -->
			<ul class="topiclist">
					<li class="header">
						<dl>
							<dt><div class="list-inner">{L_TRANSFER_SET_USERNAMES}</div></dt>
							<dd class="extra">{L_TRANSFER_AMOUNTS}</dd>
							<dd class="time"><span style="float:right;">{L_TRANSFER_DATE}</span></dd>
						</dl>
					</li>
				</ul>
			<ul class="topiclist cplist responsive-show-columns">
				<!-- BEGIN ucp_ultimatepoints_transfer -->
				<li class="row<!-- IF ucp_ultimatepoints_transfer.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<dl>
						<dt>
							<div class="list-inner">
								<div class="notifications">
									<p class="notifications_time">{ucp_ultimatepoints_transfer.TRANSFER_USERNAME}</p>
								</div>
							</div>
						</dt>
						<dd class="extra">{ucp_ultimatepoints_transfer.TRANSFER_AMOUNT}</dd>
						<dd class="time" ><span style="float:right;">{ucp_ultimatepoints_transfer.TRANSFER_TIME}</span></dd>
					</dl>
				</li>
				<!-- END ucp_ultimatepoints_transfer -->
			</ul>
			<!-- ELSE -->
				<!-- IF S_TRANSFER_ENABLE -->{L_NO_MESSAGES}<!-- ELSE -->{L_TRANSFER_RECEIVED_DISABLED}<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	</div>
</div>

<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
